#contact-content {
  text-align: center;
}

.contact-text {
  line-height: 1.2;
  display: block;
  margin-bottom: 17px;
  font-family: "Lato", sans-serif;
}

.email-tag {
  margin-bottom: 12px;
  font-family: "Lato", sans-serif;
}

.email {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

a.email:hover {
  color: #8ecae6;
}

.contact-links {
  font-size: 35px;
}

.contact-icon {
  margin: 10px;
  color: #8ecae6;
}

.resume-icon i:hover {
  color: #8ecae6;
}

.github-icon i:hover {
  color: #8ecae6;
}

.linkedin-icon i:hover {
  color: #8ecae6;
}