.project-card {
  background: hsl(199, 64%, 73%);
  height: auto;
  width: 350px;
  margin: 20px 0;
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
}

.project-img-container {
  display: flex;
  align-items: center;
}

.project-img {
  width: 260px;
  height: auto;
}

.project-card-content {
  padding: 15px;
}

.project-links a i {
  font-size: 20px;
}

.project-links a i:hover {
  color: #fff;
}

.github-link {
  margin-left: 3px;
}

.project-card-content {
  padding-bottom: 0px;
}

.project-title {
  font-size: 2rem;
  margin-top: 5px;
}

.project-title-highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgb(255, 255, 255) 47%);
}

.tech-featured {
  font-weight: bold;
}

.project-topics {
  line-height: 1.2;
  display: block;
  margin: 15px 0;
}

.project-description {
  line-height: 1.2;
  display: block;
  margin: 15px 0;
}

@media only screen and (max-width: 716px) {
  .project-card {
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    width: auto;
  }

 .project-img-container {
   align-self: center;
 }

 .project-img {
  width: 350px;
  height: auto;
}  

}
  