section {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 30px;
  justify-content: center;
}

@media only screen and (max-width: 513px) {
  section {
    padding-top: 0px;
    display: flex;
    flex-flow: column wrap;
  }
}