#header-section {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 30px;
  justify-content: center;
  width: 100%;
  align-content: stretch;
}

#header-content {
  align-self: center;
  margin-left: 15px;
  font-family: 'Lato', sans-serif;
}

#header-content .highlight {
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, #8ecae6 130%);
  font-weight: 950;
}

.header-text {
  line-height: 1.2;
  margin: 12px 0;
  display: block;
}



@media only screen and (max-width: 806px) {
  #header-section {
    padding-top: 0px;
    display: flex;
    flex-flow: column wrap;
  }

  .header-title {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 716px) {
  .header-text {
    font-size: .90em;
  }
}