#nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#site-title {
 font-family: 'Karla', sans-serif;
 font-size: 1.19em;
 font-weight: 700;
 color: black;
 align-items: center;
}

#nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 15px;
  font-family: 'Lato', sans-serif;
}

ul li a {
  text-decoration: none;
  color: #000;
}

#nav-items a:hover {
  color: #8ecae6;
}

@media only screen and (max-width: 695px) {
  #nav {
    flex-direction: column;
    align-items: center;
  }

  #site-title {
    padding-bottom: 12px;
  }
}

